body {
        background-color: aqua;
        display: block;
        margin: 8px;
}

#mainHeading {
    text-align: center;
    font-size: 2.5em;
    color: red;
}

.funParagraph {
    color: green
}